.comment {
  font-size: 12px;
  padding: 0.5em;
  border-top: 1px solid $well-border;
  
  &:first-child {
    border-top: none;
  }
  
  &-form {
    padding: 1em 0;
    
    form {
      margin-top: 0.5em;
    }
  }

  &-delete {
    padding: 0 5px;
    margin-left: 5px;
    color: $gray-light;
    opacity: .5;

    &:hover {
      color: $gray-light;
      opacity: 1;
    }
  }
}

