.question {
  background-color: #f9fafe;
  border-bottom: none;

  h1 {
    padding-left: 50px;
  }

  &-form {
    position: relative;
    padding-left: 50px;

    form {
      margin-bottom: 10px;
    }
  }

  &-body {
    min-height: 30px;
  }

  &-attachments {
    padding-left: 50px;
  }
}