.item {
  padding: 1em 0;
  border-bottom: 1px solid $well-border;
  
  &-content {
    position: relative;
  }
  
  &-signature {
    margin-bottom: 10px;
    line-height: 32px;
    position: relative;
    padding-left: 50px;
    
    .avatar {
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      left: 9px;
    }
  }
  
  &-body {
    padding-left: 50px;
  }
  
  &-actions {
    position: absolute;
    left: 0;
    width: 50px;
  }
}